<head>
  <link rel="stylesheet" href="/style.css" />
</head>

<h1 class="people-title">People</h1>

<div class="people-grid">
  <% users.forEach(user => { %>
  <div class="user-card">
    <a class="user-link" href="/people/<%= user._id %>">
      <div class="user-avatar">
        <span><%= user.username.charAt(0).toUpperCase() %></span>
      </div>
      <div class="user-name"><%= user.username %></div>
    </a>
  </div>
  <% }) %>
</div>

<% if (totalPages > 1) { %>
<div class="pagination">
  <% if (currentPage > 1) { %>
  <a href="?page=<%= currentPage - 1 %>" class="page-btn">Prev</a>
  <% } %>

  <span class="page-info">Page <%= currentPage %> of <%= totalPages %></span>

  <% if (currentPage < totalPages) { %>
  <a href="?page=<%= currentPage + 1 %>" class="page-btn">Next</a>
  <% } %>
</div>
<% } %>
